{% extends "index.html" %}
{% block body %}
<br><br>
<h1>Upload an image for style transfer: </h1>
  {{error_msg}}
  <form action="/upload" method="POST" enctype="multipart/form-data">

    <input type="file" name="imagefile" class="form-control">

    <div class="style form-control">
        <input type="radio" value="udnie" name="options" class="form-radio-input"/>
        <img class="img-responsive" src="static/images/udnie.jpg" width="300" height="400"/>
        <input type="radio" value="candy" name="options" class="form-radio-input"/>
        <img class="img-responsive" src="static/images/candy.jpg" width="300" height="400"/>
        <input type="radio" value="mosaic" name="options" class="form-radio-input"/>
        <img class="img-responsive" src="static/images/mosaic.jpg" width="300" height="400"/>
        <input type="radio" value="rain_princess" name="options" class="form-radio-input"/>
        <img class="img-responsive" src="static/images/rain_princess.jpg" width="300" height="400"/>
    </div>
      <button type="submit" class="btn btn-primary"> Submit </button>

  </form>
  {% if processed_file %}
    <br></br>
  <img src="data:image/png;base64,{{processed_file}}">
{% endif %}
{% endblock %}

<div class="cc-selector">
  <input id="udnie" type="radio" value="udnie" name="options" />
  <label class="drinkcard-cc udnie" for="udnie"></label>
  <!-- <img class="img-responsive" src="static/images/udnie.jpg" width="300" height="400"/> -->
  <input id="candy" type="radio" value="candy" name="options" />
  <label class="drinkcard-cc candy" for="candy"></label>
  <!-- <img class="img-responsive" src="static/images/candy.jpg" width="300" height="400"/> -->
  <input id="mosaic" type="radio" value="mosaic" name="options" />
  <label class="drinkcard-cc mosaic" for="mosaic"></label>
  <!-- <img class="img-responsive" src="static/images/mosaic.jpg" width="300" height="400"/> -->
  <input id="rain_princess" type="radio" value="rain_princess" name="options" />
  <label class="drinkcard-cc rain_princess" for="rain_princess"></label>
  <!-- <img class="img-responsive" src="static/images/rain_princess.jpg" width="300" height="400"/> -->
</div>


<h1>Turn any photo into an artwork!</h1>
             <br><br>
             <ol class="list-unstyled row stylized">
                 <li class="col-md-4 col-sm-6">
                     <h3> <img class="img-responsive" src="static/images/1.svg" width="45" height="45"/> &nbsp; Upload photo</h3>
                     <img class="img-responsive" src="static/images/content.jpg" width="300" height="400"/>
                 </li>
                 <li class="col-md-4 col-sm-6">
                     <h3> <img class="img-responsive" src="static/images/2.svg" width="45" height="45"/> &nbsp; Choose style</h3>
                     <img class="img-responsive" src="static/images/style.jpg" width="300" height="400"/>
                 </li>
                 <li class="col-md-4 col-sm-6">
                     <h3><img class="img-responsive" src="static/images/3.svg" width="45" height="45"/> &nbsp; Submit</h3>
                     <img class="img-responsive" src="static/images/result.jpg" width="300" height="400"/>
                 </li>
             </ol>
             <li class="col-md-1 col-sm-1"> <img src="static/images/AI.png"  alt="styletransfer"  width="80" height="80" style="border:0px; background-size:contain;"> </li>